# Variables

In [ ]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

In [ ]:
annual_salary = 72000
total_month = 12
monthly_salary = annual_salary / total_month
print(monthly_salary)

6000.0

In [ ]:
job_title = 'Data Scientist'
company_name = 'AI Solutions'
annual_salary2 = 110000
bonus2 = annual_salary2*0.10
compensation = annual_salary2 + bonus2
print(job_title, company_name, compensation)

Data Scientist AI Solutions 121000.0

# Strings

In [ ]:
job_title = 'data scientist'
job_title.upper()

'DATA SCIENTIST'

In [ ]:
job_title = 'Data Analyst'
job_title_replaced = job_title.replace('Analyst', 'Enginner', 1)
job_title_replaced

'Data Enginner'

In [ ]:
seniority_level = 'Senior'
job_title = 'Data Analyst'
new_title = seniority_level + ' ' +job_title
new_title

'Senior Data Analyst'

In [ ]:
job_title = 'Data Analyst'
len(job_title)

12

In [ ]:
job_title = 'DATA ENGINEER'
job_title.lower()

'data engineer'

# String Formatting

In [ ]:
job_title = 'Data Analyst'
'Job Title:' + ' ' + job_title

'Job Title: Data Analyst'

In [ ]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
f"{position} at {company}"

'Data Scientist at DataWiz Inc.'

In [ ]:
role = 'Data Analyst'
skill = 'Python'
'Role: {}, Skill: {}'.format(role, skill)

'Role: Data Analyst, Skill: Python'

In [ ]:
role = 'Data Engineer'
skill = 'SQL'
'Role: %s, Skill: %s' %(role, skill)

'Role: Data Engineer, Skill: SQL'

# Operators

In [ ]:
monhly_salary = 8000
annual_salary = monthly_salary * 12
annual_salary

72000.0

In [ ]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
avg_salary_analyst > avg_salary_scientist

False

In [ ]:
total_applications = 123
job_openings = 67
remainder = total_applications % job_openings
remainder

56

In [ ]:
job_postings = 20
job_postings += 5
job_postings

25

In [ ]:
min_salary = 50000
max_salary = 120000
avg_salary = (min_salary + max_salary) / 2
avg_salary

85000.0

# Conditional statements

In [ ]:
python_experience = 3

if python_experience == 3:
  print('Intermediate')
else:
  print('Beginner')

Intermediate

In [ ]:
tools_known = 5

if tools_known <= 1:
  skill_level = 'Beginner'
elif tools_known <=4:
  skill_level = 'Intermediate'
else:
  skill_level = 'Advanced'

skill_level

'Advanced'

In [ ]:
job_experience = 4
sql_experience = 2

if job_experience <2:
  job_title = 'Junior Analyst'
elif job_experience <=5 and sql_experience == 1:
  job_title = 'Intermediate Analyst'
elif job_experience <=5 and sql_experience >= 2:
  job_title = 'Senior Analyst'
elif job_experience >5 and sql_experience >= 3:
  job_title = 'Lead Analyst'
else:
  job_title = 'Data Analyst'

job_title

'Senior Analyst'

# Lists

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

job_titles[1]

'Data Analyst'

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

job_titles.pop(1)

'Data Analyst'

In [ ]:
job_titles

['Data Scientist', 'Machine Learning Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

job_titles.pop()
job_titles.insert(2, 'AI Specialist')
job_titles

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Specialist'
job_titles

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
job_titles[:2]

['Data Scientist', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')

In [ ]:
job_titles

['Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'Data Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, 'Buisness Analyst')

In [ ]:
job_titles

['Data Scientist',
 'Buisness Analyst',
 'Data Analyst',
 'Machine Learning Engineer']

### List unpacking

In [ ]:
job1, job2, job3, job4 = job_titles
print(job1)

Data Scientist

In [ ]:
job_titles

['Data Scientist',
 'Buisness Analyst',
 'Data Analyst',
 'Machine Learning Engineer']

In [ ]:
job1, *rest_of_jobs = job_titles
print(job1)
print(rest_of_jobs)

Data Scientist
['Buisness Analyst', 'Data Analyst', 'Machine Learning Engineer']

In [ ]:
job_titles

['Data Scientist',
 'Buisness Analyst',
 'Data Analyst',
 'Machine Learning Engineer']

# Dictionaries

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['Data Analyst']

80

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
job_postings

{'Data Scientist': 120, 'Data Analyst': 80}

In [ ]:
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
job_postings1

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
job_details = {'Data Scientist': {'postings': 120, 'average_salary': 120000},
               'Data Analyst': {'postings': 80, 'average_salary': 80000},
               'Machine Learning Engineer': {'postings': 50, 'average_salary': 110000}}
job_details

{'Data Scientist': {'postings': 120, 'average_salary': 120000},
 'Data Analyst': {'postings': 80, 'average_salary': 80000},
 'Machine Learning Engineer': {'postings': 50, 'average_salary': 110000}}

# Sets

In [ ]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
unique_job_titles

{'AI Specialist',
 'Data Analyst',
 'Data Scientist',
 'Machine Learning Engineer'}

In [ ]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
unique_job_titles

{'Data Scientist', 'Machine Learning Engineer'}

In [ ]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
job_locations = set(job_locations)
job_locations

{'Austin', 'New York', 'San Francisco'}

In [ ]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
all_skills = skills_set1.union(skills_set2)
all_skills

{'Machine Learning', 'Python', 'R', 'SQL', 'Tableau'}

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1]

'Data Analyst'

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
extended_job_roles = job_roles + ('AI specialist',)
extended_job_roles

('Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'AI specialist')

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
new_roles = list(job_roles)
new_roles.remove('Data Analyst')
new_roles

job_roles2 = tuple(new_roles)
job_roles2

('Data Scientist', 'Machine Learning Engineer')

In [ ]:
job_postings = (120, 80, 50)

data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
80
50

In [ ]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
job_details[2][1]

50

# Operators part 2

In [ ]:
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'

job_title1 is not job_title2

True

In [ ]:
job_locations = ['New York', 'San Francisco', 'Austin']
'New York' in job_locations

True

In [ ]:
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'

job_title not in job_description

True

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

'Data Scientist' and 'Machine Learning Engineer' in job_titles

True

In [ ]:
salary1 = 100000
salary2 = 50000

result = salary1 | salary2
result

116720

# Loops

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for job in job_titles:
  print(job)

Data Scientist
Data Analyst
Machine Learning Engineer

In [ ]:
job_postings = [5, 10, 15, 20, 25]

total_postings = 0
index = 0

while index < len(job_postings):
  total_postings += job_postings[index]
  index += 1

print(total_postings)

75

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

index = 0

for index, job in enumerate(job_titles, start = 0):
  print(f'{index}: {job}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

index = 0
while index < len(job_titles):
    if 'Engineer' in job_titles[index]:
        print(job_titles[index])
        break
    index += 1

Machine Learning Engineer

In [ ]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for role, skills in positions_skills.items():
  for skill in skills:
    print(f'The role of {role} requires proficiency in {skill}.')

The role of Data Scientist requires proficiency in Python.
The role of Data Scientist requires proficiency in R.
The role of Data Analyst requires proficiency in SQL.
The role of Data Analyst requires proficiency in Excel.
The role of Machine Learning Engineer requires proficiency in Python.
The role of Machine Learning Engineer requires proficiency in TensorFlow.

# List comprehension

In [ ]:
salaries_usd = [100000, 120000, 80000, 90000]

salaries_eur = [x*0.85 for x in salaries_usd]

salaries_eur

[85000.0, 102000.0, 68000.0, 76500.0]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}

jobs = [j for j, e in job_experience.items() if e > 2]
jobs

['Data Scientist', 'Machine Learning Specialist']

In [ ]:
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000},
 {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]

job_salary_dicts

[{'job_title': 'Data Scientist', 'salary': 100000},
 {'job_title': 'Data Analyst', 'salary': 120000},
 {'job_title': 'Data Engineer', 'salary': 80000},
 {'job_title': 'Machine Learning Engineer', 'salary': 90000}]

In [ ]:
jobs = [j['job_title'] for j in job_salary_dicts if j['salary'] > 90000]
jobs

['Data Scientist', 'Data Analyst']

# Exercise Basic

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
qualified_jobs = []

for job in job_roles:
  qualified = True

  for skill in my_skills:
      if skill not in job['skills']:
        qualified = False
        break
  if qualified:
    qualified_jobs.append(job['role'])

qualified_jobs

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
jobs = [job['role'] for job in job_roles if all(skill in my_skills for skill in job['skills'])]

jobs

['Data Analyst']

# Functions

In [ ]:
job_title = 'Data Scientist'
keyword = 'Data'

def job_title_contains(job_title, keyword = 'Data'):
  if keyword in job_title:
    return True


job_title_contains(job_title, keyword)

True

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

def avg_salary(salaries):
  return sum(salaries)/len(salaries)


avg_salary(salaries)

108000.0

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

def salary_statistics(salaries):
  return {
      'min': min(salaries),
      'max': max(salaries),
      'avg': sum(salaries)/len(salaries)
  }

salary_statistics(salaries)

{'min': 90000, 'max': 130000, 'avg': 108000.0}

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]


def job_posting_summary(job_postings):
  total_postings = len(job_postings)
  avg_salary = sum(posting['salary'] for posting in job_postings)/ total_postings
  unique_locations = list(set(posting['location'] for posting in job_postings))

  return {
      'total_postings': total_postings,
      'average_salary': avg_salary,
      'unique_location': unique_locations
  }

job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_location': ['New York', 'San Francisco']}

# Lambda

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

average_salary = lambda salaries: sum(salaries)/len(salaries)
average_salary(salaries)

108000.0

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

filtered_titles = list(filter((lambda job: 'Data' in job), job_titles))
filtered_titles

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

jobs = list(filter((lambda job: (job['remote'] and 'Python' in job['skills'])), job_postings))
jobs

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]

# Modules

In [ ]:
%%writefile salary_calculator.py

def cal_annual_salary(hourly_wage, hours_per_week):
 """
 Calculates the annual salary

 Takes two arguments: hourly_wage and hours_per_week
 as there are 52 weeks in a year it calcuates
 annual salary by multi[plying the  product of
 both two arguments.
 """

 return(hourly_wage*hours_per_week)*52

Overwriting salary_calculator.py

In [ ]:
import salary_calculator

annual_salary = salary_calculator.cal_annual_salary(50, 40)
annual_salary

104000

In [ ]:
%%writefile job_filter.py

def filter_by_location(job_postings, location):
    return [job for job in job_postings if job['location'] == location]

Overwriting job_filter.py

In [ ]:
import job_filter

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York'},
    {'title': 'Data Analyst', 'location': 'San Francisco'},
    {'title': 'Machine Learning Engineer', 'location': 'New York'}
]

jobs = job_filter.filter_by_location(job_postings, 'New York')
jobs

[{'title': 'Data Scientist', 'location': 'New York'},
 {'title': 'Machine Learning Engineer', 'location': 'New York'}]

# Data cleanup

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [ ]:
date = data_science_jobs[0]['job_date']
type(date)

str

In [ ]:
from datetime import datetime

for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')

data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': "['Python', 'TensorFlow', 'Deep Learning']",
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['SQL', 'R', 'Tableau']",
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']",
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['Python', 'Spark', 'Hadoop']",
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': "['Python', 'PyTorch', 'AI Ethics']",
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [ ]:
skills = data_science_jobs[0]['job_skills']
type(skills)

str

In [ ]:
import ast


for job in data_science_jobs:

  job['job_skills'] = ast.literal_eval(job['job_skills'])

data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

# Classes

In [ ]:
class DataScientistJobs:
  def __init__(self, jobs):
    self.jobs = jobs

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "Python, SQL, Machine Learning"},
    {'job_title': 'Data Analyst', 'job_skills': "SQL, Excel, Python"},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "Python, TensorFlow, Keras"}
]

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': 'Python, SQL, Machine Learning'},
 {'job_title': 'Data Analyst', 'job_skills': 'SQL, Excel, Python'},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': 'Python, TensorFlow, Keras'}]

In [ ]:
jobs_list = DataScientistJobs(data_science_jobs)
jobs_list

In [ ]:
class DataScientistJobs:
  def __init__(self, jobs):
    self.jobs = jobs

  def __str__(self):
    jobs_str = 'Data Science Jobs:\n'
    for job in self.jobs:
      jobs_str = jobs_str + f"- {job['job_title']}: {job['job_skills']}\n"
    return jobs_str

In [ ]:
jobs_list = DataScientistJobs(data_science_jobs)
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

In [ ]:
class DataScientistJobs:
  # This will initiate the class with jobs in it
  def __init__(self, jobs):
    self.jobs = jobs

# This str is to print the jobs in a particular pattern as printed above which makes sure that the job titiles and skills are added to the jobs_str in for loop till printed
  def __str__(self):
    jobs_str = 'Data Science Jobs:\n'
    for job in self.jobs:
      jobs_str = jobs_str + f"- {job['job_title']}: {job['job_skills']}\n"
    return jobs_str

# Now, the task is to print job title seperately and job_skills as a list below it. So first we have to split the skills. This is now a method (and not a function) which will be available for this object
  def split_skills(self):
    for job in self.jobs:
      job['job_skills'] = job['job_skills'].split(', ')

In [ ]:
jobs_list = DataScientistJobs(data_science_jobs)
print(jobs_list)

Data Science Jobs:
- Data Scientist: Python, SQL, Machine Learning
- Data Analyst: SQL, Excel, Python
- Machine Learning Engineer: Python, TensorFlow, Keras

In [ ]:
class DataScientistJobs:
  # This will initiate the class with jobs in it
  def __init__(self, jobs):
    self.jobs = jobs

# This str is to print the jobs in a particular pattern as printed above which makes sure that the job titiles and skills are added to the jobs_str in for loop till printed
  def __str__(self):
    jobs_str = 'Data Science Jobs:\n'
    for job in self.jobs:
      # This will check if the job skills is a list or still a string
      if isinstance(job['job_skills'], list):
        skills_str = ', '.join(job['job_skills'])
      else:
        skills_str = job['job_skills']
      jobs_str = jobs_str + f"- {job['job_title']}: {skills_str}\n"
    return jobs_str

# Now, the task is to print job title seperately and job_skills as a list below it. So first we have to split the skills. This is now a method (and not a function) which will be available for this object
  def split_skills(self):
    for job in self.jobs:
      job['job_skills'] = job['job_skills'].split(', ')

# Create a method to display the job title and skills for the jobs
  def display_jobs(self):
    for job in self.jobs:
      print(f"job Title: {job['job_title']}")
      print("Required skills:")
      for skill in job['job_skills']:
        print(f"- {skill}")
      print()

In [ ]:
jobs_list = DataScientistJobs(data_science_jobs)
jobs_list.split_skills()
jobs_list.display_jobs()

job Title: Data Scientist
Required skills:
- Python
- SQL
- Machine Learning

job Title: Data Analyst
Required skills:
- SQL
- Excel
- Python

job Title: Machine Learning Engineer
Required skills:
- Python
- TensorFlow
- Keras

## Problems for Classes

In [ ]:
class JobPosting:
  def __init__(self, title, company, location):
    self.title = title
    self.company = company
    self.location = location

In [ ]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

In [ ]:
job

In [ ]:
print(job.title)
print(job.company)
print(job.location)

Data Scientist
Tech Innovations
New York

In [ ]:
class JobPosting:
  def __init__(self, title, company, location, salary):
    self.title = title
    self.company = company
    self.location = location
    self.salary = salary

  def to_dict(self):
    return{
        'title': self.title,
        'company': self.company,
        'location': self.location,
        'salary': self.salary
    }

In [ ]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)

print(job.to_dict())

{'title': 'Data Scientist', 'company': 'Tech Innovations', 'location': 'New York', 'salary': 120000}

In [ ]:
class JobPosting:
  def __init__(self, title, company, location, salary):
    self.title = title
    self.company = company
    self.location = location
    self.salary = salary

  def compare_salary(self, other_job):
    if self.salary > other_job.salary:
      return self.title
    else:
      return other_job.title

In [ ]:
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 140000)

print(job1.compare_salary(job2))

Data Analyst